/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* STILI GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 100px;
  line-height: 100px;
  width: 100%;
  padding: 0 20px;
  color: #c3c7cb;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* Button */
.link-btn a {
  background-color: #eb028d;
  border: 1px solid #eb028d;
  padding: 10px 25px;
  line-height: initial;
  margin-left: 15px;
  border-radius: 33px;
  color: white;
}

.link-btn a:hover {
  color: #eb028d;
  background-color: white;
}

/* Novità */
.nuovo span {
  color: #eb028d;
  position: relative;
  top: -9px;
  font-size: 14px;
}
/* FINE STILI GENERALI */

/* NAVBAR */
/* Menu */
.menu > li {
  display: inline-block;
}

.menu img {
  width: 100px;
  vertical-align: text-bottom;
}

.menu-left {
  float: left;
  text-transform: uppercase;
}

.menu-left li {
  margin-right: 25px;
}

.menu-right {
  float: right;
}

.menu-right li:not(.link-btn) {
  margin-left: 25px;
}

.menu li a:hover {
  color: black;
}

.menu .link-btn a:hover {
  color: #eb028d;
  background-color: white;
}

/* Dropdown */
.with-dropdown {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 75%;
  left: -26px;
  width: 210px;
  line-height: initial;
  border: 1px solid;
  /* padding: 10px 10px 30px 10px; */
  box-shadow: 0px -1px 20px #d6d3d3;
  display: none;
}

.dropdown li {
  margin: 20px 0;
}

.dropdown.active {
  display: block;
}

/* Fine Menu */
