/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* STILI GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 100px;
  line-height: 100px;
  width: 100%;
  padding: 0 20px;
  color: #c3c7cb;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.link-btn {
  background-color: #eb028d;
  border: 1px solid #eb028d;
  padding: 10px 25px;
  line-height: initial;
  margin-left: 15px;
  border-radius: 33px;
  color: white;
}

.link-btn:hover {
  color: #eb028d;
  background-color: white;
}
/* FINE STILI GENERALI */

/* NAVBAR */
/* Menu */
.menu > li {
  display: inline-block;
}

.menu img {
  width: 100px;
  vertical-align: text-bottom;
}

.menu-left {
  float: left;
  text-transform: uppercase;
}

.menu-left li {
  padding-right: 25px;
}

.menu-right {
  float: right;
}

.menu-right li:not(.link-btn) {
  padding-left: 25px;
}

.menu li a:hover {
  color: black;
}

/* .menu-right li.link-btn:hover {
  color: #eb028d;
  background-color: white;
} */

/* Dropdown */
.with-dropdown {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 75%;
  left: 0;
  width: 100px;
  line-height: initial;
  display: none;
}

.dropdown.active {
  display: block;
}
/* Fine Menu */
